body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;

   padding-top: 100px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    max-width: 400px; /* Set a maximum width for the form */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
form p {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333333;
}

form input[type="text"],
form input[type="date"],
form input[type="email"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

form input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}