#boite{ 
    background-color: grey;
    width: 30%;
    height: auto;
    margin-left: 50%;
    margin-top: 7%;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    position: relative;
    animation: slideIn 1s ease-out; 
}
@keyframes slideIn {
    from {
        transform: translateX(-100%); 
        opacity: 0; 
    }
    to {
        transform: translateX(0); 
        opacity: 1;
    }
}
article a {
    text-decoration: none;
}
.card-hover {
    transition: transform 0.2s ease, background-color 0.2s ease;
    background-color: #f8f9fa; /* default Bootstrap light background */
}

.card-hover:hover {
    background-color: #e2e6ea; /* slightly darker */
    transform: translateY(-4px);
}

 body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}
.banner {
    background-color: #0077ff;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.boxcom {
    padding: 20px 0;
    margin-left: 22%;
    margin-top: 10px;
    background-color: antiquewhite;
  }
.comment {
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin: 20px 20px;
    max-width: 600px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  }